<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartFarming"
        tools:targetApi="31">
        <activity
            android:name=".plantrecommandation.view.PlantDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".waterusage.AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".resetpassword.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".plantrecommandation.view.PlantRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:exported="false" /> <!-- FileProvider should be inside <application> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".onboard.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".splash.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>